/*-- Reset ------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}

:focus {outline: 0;}
body {line-height: 1;color: black;background: white;}
ol, ul {list-style: none;}

table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

a { text-decoration: none; }
li { list-style: none; }
p { margin: 0px; line-height: 1.2; }
h1, h2, h3, h4 { margin: 4px 0 0 0; }
strong { font-weight: bold; }

/*-- Utility Styles ------------------------------------------------------------------*/
.left { float: left; }
.right { float: right; }
 .clearfix:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



/*-- Structure Styles ---------------------------------------------------------------*/
body { font-size: 11pt; font-family: Helvetica, Arial, sans-serif; color: #353535; line-height: 1.4;}
#content { width: 960px; position: relative; overflow: hidden; margin: 0 auto;}
#People { 
	width: 100%;
	background: #CCC;
	border-bottom: 1px solid #333;
	margin: 0 0 0px 0;
	padding: 20px;
}
#Tasks{ 
	width: 500px;
	margin: 0px auto 20px;
	padding: 20px 10px;
	background: #EEE;
	border: 1px solid #999;
	border-top: none;
	border-radius: 0 0 7px 7px;
}
#Tasks p { 
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #fff;
}
#Tasks p:nth-child(1){
	border-top: none;
}
#Tasks p:last-child{
	border-bottom: none;
}
#Tasks p span {
	float: right;
	width: 170px;
	overflow: hidden;
	margin-top: 3px;
}
#Tasks p span a {
	display: block;
	float: left;
	margin: 0 4px 0 0;
	padding: 1px 0 1px 0;
	border-radius: 2px;
	width: 75px;
	font-size: 10pt;
}
#Tasks p span a.update, .defaultButton {
	border: 1px solid #009BC4;
	color: #EEE;
	line-height: 1.4em;
	text-shadow: 0 -1px #00692C;
	text-align: center;
	background-color: #0079C1;
	background: -moz-linear-gradient(center bottom, #0079C1 0, #0079C1 20%, #00A1FF 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #0079C1), color-stop(20%, #0079C1), color-stop(100%, #00A1FF));
	background: -webkit-linear-gradient(bottom, #0079C1 0, #0079C1 20%, #00A1FF 100%);
	background: -ms-linear-gradient(bottom, #0079C1 0, #0079C1 20%, #00A1FF 100%);
	background: -o-linear-gradient(bottom, #0079C1 0, #0079C1 20%, #00A1FF 100%);
	background: linear-gradient(bottom, #0079C1 0, #0079C1 20%, #00A1FF 100%);
	-moz-box-shadow: 0 1px #28afff inset;
	-webkit-box-shadow: 0 1px #28AFFF inset;
	box-shadow: 0 1px #28AFFF inset;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-color: #0079C1 #00598E #00395B;
	border-style: solid;
	border-width: 1px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	text-shadow: 0px 0px 2px black;
}
#Tasks p span a.update:hover, .defaultButton {
	background-color: #00598E;
	background: -moz-linear-gradient(center bottom, #00598E 0, #00598E 20%, #0091E6 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #00598E), color-stop(20%, #00598E), color-stop(100%, #0091E6));
	background: -webkit-linear-gradient(bottom, #00598E 0, #00598E 20%, #0091E6 100%);
	background: -ms-linear-gradient(bottom, #00598E 0, #00598E 20%, #0091E6 100%);
	background: -o-linear-gradient(bottom, #00598E 0, #00598E 20%, #0091E6 100%);
	background: linear-gradient(bottom, #00598E 0, #00598E 20%, #0091E6 100%);
	-moz-box-shadow: 0 1px #0099f4 inset;
	-webkit-box-shadow: 0 1px #0099F4 inset;
	box-shadow: 0 1px #0099F4 inset;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-color: #00598E #00395B #001928;
	cursor: pointer;
	text-shadow: 0px 0px 2px black;
}
#Tasks p span a.delete {
	border: 1px solid #A31415;
	color: #EEE;
	line-height: 1.4;
	text-shadow: 0 -1px #A31415;
	text-align: center;
	background-color: #F20D2D;
	background: -moz-linear-gradient(center bottom, #F20D2D 0, #F20D2D 20%, #C5031B 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #F20D2D), color-stop(20%, #F20D2D), color-stop(100%, #C5031B));
	background: -webkit-linear-gradient(bottom, #F20D2D 0, #F20D2D 20%, #C5031B 100%);
	background: -ms-linear-gradient(bottom, #F20D2D 0, #F20D2D 20%, #C5031B 100%);
	background: -o-linear-gradient(bottom, #F20D2D 0, #F20D2D 20%, #C5031B 100%);
	background: linear-gradient(bottom, #F20D2D 0, #F20D2D 20%, #C5031B 100%);
	-moz-box-shadow: 0 1px #f76e81 inset;
	-webkit-box-shadow: 0 1px #F76E81 inset;
	box-shadow: 0 1px #F76E81 inset;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-color: #F20D2D #C20A24 #91081B;
	border-style: solid;
	border-width: 1px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	text-shadow: 0px 0px 2px black;
}
#Tasks p span a.delete:hover {
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px #D01A1B;
	background-color: #CC001D;
	background: -moz-linear-gradient(center bottom, #CC001D 0, #CC001D 20%, #AC0318 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #CC001D), color-stop(20%, #CC001D), color-stop(100%, #AC0318));
	background: -webkit-linear-gradient(bottom, #CC001D 0, #CC001D 20%, #AC0318 100%);
	background: -ms-linear-gradient(bottom, #CC001D 0, #CC001D 20%, #AC0318 100%);
	background: -o-linear-gradient(bottom, #CC001D 0, #CC001D 20%, #AC0318 100%);
	background: linear-gradient(bottom, #CC001D 0, #CC001D 20%, #AC0318 100%);
	-moz-box-shadow: 0 1px #ff3350 inset;
	-webkit-box-shadow: 0 1px #FF3350 inset;
	box-shadow: 0 1px #FF3350 inset;
	border-color: #CC001D #990016 #66000E;
}
#Tasks p.blank {
	border: none;
	margin: 0 0 10px;
	padding: 0;
}
#Tasks p.blank a {
	color: #009BC4;
	font-size:9pt;
}

/*-- Nav Styles ---------------------------------------------------------------*/
#navBar {  }
#navBar ul {  }
#navBar ul li { float: left; margin: 0 14px 0 0; }

ul {
	margin: 20px 0 10px 20px;
}
input[type="text"] {
	background: transparent;
	border: none;
	padding: 7px 35px 7px 7px;
	margin: 0 4px 0 0;
}
input[type="text"].priority {
	padding-right: 7px;
	width: 15px;
}
input[type="text"]:focus {
	border: 1px solid #ddd;
	background: #fff;
	margin: -1px 3px -1px -1px;
	padding-bottom: 6px;
}